*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
header {
  background: #d9a7c7;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdf9c8, #d9a7c7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdf9c8, #d9a7c7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
  width: 100%;
}
.d-flex{
  margin-top: 15px;
}
.d-flex , .register{
  margin-bottom: 100px;
}
.logo img{
       height: 250px;
        width: 300px; 
        margin-left: 20px ;
       
}


.breadcrumb-item a{
  text-decoration-style: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: rgba(99, 99, 99, 0.3);
  color: rgb(80, 80, 80);
}

.nav-link, .navlink .dropdown-toggle{
  color: rgb(80, 80, 80);
  margin: 5px;
}
  
.carousel-inner{
  height: 90vh;
}

.carousel-item {
  height: 100%;
}

.carousel-item img{
  height: 100%;
}




.row{
  align-items: center;
  margin-top:45px;
  margin-left: 25px;
}
.pagination{
  margin-top: 15px;
}



.row.card {
    cursor:pointer ;
    position: relative;
    
}

.row .card:hover {
  transition: 1s;
  transform: scale(1.1);
  z-index: 1;
  box-shadow: 21px 9px 35px 6px rgba(128,111,128,1);
-moz-box-shadow: 21px 9px 35px 6px rgba(128,111,128,1);
box-shadow: 21px 9px 35px 6px rgba(128,111,128,1);
}