*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
header {
  background: #d9a7c7;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdf9c8, #d9a7c7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdf9c8, #d9a7c7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: top 0.5s ease-in-out;
}

header.hidden {
  top: -100%;
}
.navbar{
    display: flex;
}
.navbar .register,
.d-flex{
    margin-bottom:120px;
}

.container-fluid .logo {
    margin-right: 45px;
}

.logo img{
       height: 200px;
       width: 300px;
}
.container-about{
    padding: 45px
}
